@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto:wght@100&display=swap');

#bastilha{
    display: flex;
    border-radius: 16px;
    width: 276px;
    margin-top: 20px; 
    margin-left: auto;
    margin-right: auto;
}

#imagem1{
    border-radius: 2rem;
    position: center;
    border: 2px solid #000;
}

header{
    background-color: #1E91D6;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    width: 100%;
    top: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #eeeae7 ;
    margin-top: 6rem;
}

.conteudo{
    display: flex;
}

header a{
    color: aliceblue;
    margin: 50px;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.sumario{
    border: 2px black solid;
    padding: 2rem;
}

.pesquisa{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 2rem;
}
.header_bastilha{
    padding-top: 0,0625rem;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
