@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto:wght@100&display=swap');

#bastilha{
    border: 2px solid #000;
    display: flex;
    border-radius: 16px;
    width: 310px;
    margin-top: 20px; 
    margin-left: auto;
    margin-right: auto;
}

#imagem1{
    border-radius: 16px;
    position: center;
}

header{
    background-color: #1E91D6;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    width: 100%;
    top: 0px;
}

body {
    margin-top: 6rem;
}

a{
    color: aliceblue;
    margin: 50px;
}

p{
    font-family: 'Courier New', Courier, monospace;
}