header{
    background-color: #1E91D6;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    width: 100%;
    top: 0px;
}

a{
    color: aliceblue;
    margin: 50px;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.mapas_mentais{
    display: flex;
    text-align: center;
    align-items: center;
    
}
.mapa_1{
    width: 500px;
    height: auto;
}
.mapa_2{
    width: 500px;
    height: auto
}