header{
    background-color: #1E91D6;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    width: 100%;
    top: 0px;
}

a{
    color: aliceblue;
    margin: 50px;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.bastilha2 {
    text-align: center;
}

.bastilha2 img {
    display: block;
    margin: 0 auto;
}